name: Build Module

on:
  push:
    branches: [ "main" ]
    tags: [ "v*" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Zip Module
        run: |
          zip -r pixel8_unicom_opt.zip . -x ".git/*" ".github/*" "README.md"

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: Magisk Module
          path: pixel8_unicom_opt.zip
